@charset "UTF-8";

/* CSS Document */

/* Universal Selector Reset */
* { margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* End Reset */

:root {
  --body-background-color: #37718E;
}

body {
  background-color: var(--body-background-color);
  text-align: left;
  font: 11px/1em "Poppins", Lucida, Verdana, sans-serif;
  /* Necessary for gradient to work properly */
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#wrapper {
  margin: 0 auto;
  max-width: 2273px;
  width: 2000px;
}

h1 {
  font-size: 7em;
  line-height: 20px;
  color: #37718E;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 1.75em;
}

h2 {
  font-size: 4em;
  line-height: 1.75em;
  color: #9EEBEB;
  margin-left: 50px;
  margin-bottom: 1.3em;
}

h3 {
  font-size: ;
  line-height: ;
  color: ;
  margin-bottom: ;
}

p {
  font-size: 2.5em;
  line-height: 1.3em;
  color: #A8D0DB;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: 50px;
  float: left;
}

header {
  width: 100%;
  background-color: #63AABF;
  padding-top: 70px;
}

nav {
  padding-top: 20pxpx;
  height: 60px;
  margin-left: 30px;
  margin-right: 50px;
  float: right;
}

nav li {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  white-space: nowrap;
  display: inline;
  list-style-type: none;
  padding-right: 1.5em;
}

nav li a {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 10px;
  letter-spacing: 2px;
  padding: 20px 5px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

nav li a:hover {
  color: ;
  text-decoration: underline;
  font-weight: normal;
}

nav li a:visited {
  color: #fff;
  text-decoration: underline;
  transition: .5s;
  font-weight: normal;
}

#banner {
  width:;
  height:;
  clear: both;
  background-size: cover;
  background-color: #9EEBEB;
}

main {
  width: ;
  margin: ;
}

aside {
  width: ;

  margin: ;
}

footer {

}

/* Media Queries */

@media screen and (max-width: ) {


}
