@charset "UTF-8";

/* CSS Document */

/* Universal Selector Reset */
* { margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* End Reset */

:root {
  --body-background-color: #37718E;
}

body {
  background-color: var(--body-background-color);
  text-align: left;
  font: 11px/1em "Poppins", Lucida, Verdana, sans-serif;
  /* Necessary for gradient to work properly */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#wrapper {
  margin: 0 auto;
  max-width: 2273px;
  width: 2273px;
  height: 1024px
}

h1 {
  font-size:5.5em ;
  line-height:20px ;
  color:#37718E ;
  margin-bottom: 1.75em;
}

h2 {
  font-size: 2.5em;
  line-height: 1.75em;
  color: #9EEBEB;
  margin-bottom: ;
}

h3 {
  font-size: ;
  line-height: ;
  color: ;
  margin-bottom: ;
}

p {
  font-size: 1em;
  line-height: 1.3em;
  color: #A8D0DB;
  margin-bottom: 1.3em;
}

header {
  width: 2273px;
  background-color: #63AABF;
  padding-top: 100px;
}

nav {
  padding-top: 10px;
  height: 40px;
  float: right;

}

nav li {
  font-family: ;
  font-size: ;
  white-space: nowrap;
  display: inline;
  list-style-type: none;
  padding-right: ;
}

nav li a {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px 5px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

nav li a:hover {
  color: ;
  text-decoration: underline;
  font-weight: normal;
}

nav li a:visited {
  color: #fff;
  text-decoration: underline;
  transition: .5s;
  font-weight: normal;
}

#banner {
  width:1374;
  height:142;
  clear: both;
  background-size: cover;
  background-color: #99a4ee;
}

main {
  width: ;
  margin: ;
}

aside {
  width: ;

  margin: ;
}

footer {

}

/* Media Queries */

@media screen and (max-width: ) {


}
